<h2>Find a concert today</h2>
<ul>

	<div class="concerts">
	<% @concertsToday.each do |c| %>
	<li>
		<%= link_to c.artist, concert_path(c) %>
			<%= c.date.strftime("%H:%M") %>
		</li>
	<%end%>
	</div>
	</ul>

	<aside>
	<div class="concerts side">
	<h3>Upcoming concerts</h3>
	<ul>

	
		<% @futureConcerts.each do |c| %>
		<li><%= link_to c.artist, concert_path(c) %>
			<%= c.date.strftime("%b %d") %>
		</li>
		<%end%>
			</ul>
			</div>

	</aside>

<section>
	<%= link_to "Add New Concert", new_concert_path %>
</section>