<h1>Sign up!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div>  
	  <%= f.label :username, "Name:" %> 
	  <%= f.text_field :username %>
  </div>

  <div>
	  <%= f.label :email, "Email:" %>
	  <%= f.text_field :email %>
  </div>

  <div>
	  <%= f.label :password, "Password:" %>
	  <%= f.password_field :password %>
  </div>

  <div>
	  <%= f.label :password_confirmation, "Password Confirmation:" %>
	  <%= f.password_field :password_confirmation %>
  </div>


  <%= f.submit "Submit" %>

<% end %>