<!DOCTYPE html>
<html>
  <head>
    <title>Timetracking</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h1>Timetracker</h1>
  		<%= render "snippets/navigation" %>
  	</header>
    <%= yield %>
    <footer><small>Made with &hearts;</small></footer>
  </body>
</html>
