<ul>
	<% @projects.each do |project| %>
		<% if project.description.present? %>
			<li><%= link_to project.name, project_path(project) %> - <%= project.description %></li>
		<% else %>
			<li><%= link_to project.name, project_path(project) %></li>
		<%end%>
		<%= link_to "See time entries", project_time_entries_path(project) %>
	<%end%>
</ul>

<%= link_to "Add Project", projects_new_path %>
